# macOS specific files:
.DS_Store

# Python `virtualenv` directories and other Python specific files:
.env/
__pycache__/

# IDE specific files:
.idea/
*.iml
.kiro/

# Logs and other debugging files:
*.log
*.mp3
*.pdf
*.csv
