boto3==1.40.74
botocore==1.40.74

strands-agents==1.16.0
strands-agents-tools==0.2.15
strands-agents-builder==0.1.10

bedrock-agentcore==1.0.6
bedrock-agentcore-starter-toolkit==0.1.33

uv

fastapi[standard]==0.121.2
pydantic==2.12.4

mcp==1.21.0
fastmcp==2.13.1

python-json-logger==4.0.0
aws-lambda-powertools[aws-sdk]==3.23.0

ddgs
langfuse
llm_guard
